{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body body-trouver
{% endblock body_class %}

{% block content %}
<div id="error" class="container">
    <h2>Une erreur est survenue</h2>
    <h2>La page que vous recherchez n'est pas accessible, ou n'existe pas.</h2>
</div>
{% endblock content %}