{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body body-trouver
{% endblock body_class %}

{% block content %}
<div id="error" class="container">
    <h2>Une erreur est survenue sur le serveur</h2>
    <h2>Essayez de recharger la page dans quelques secondes.</h2>
</div>
{% endblock content %}