{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div id="about" class="main container">
    <h3>L'HISTOIRE DE LA MAISON DU CROQUE MONSIEUR</h3>
    <div class="col-sm-6 col-xs-12">
        <p>
            The Croque Monsieur, a seemingly simple sandwich with a fantastically fancy name.
            It’s a rustic—yet utterly sophisticated—treat. At once salty, smokey, creamy, cheesy, crunchy.
            <br/><br/>A perfect bite, day or night: breakfast, lunch, dinner, dessert and snacks in between.
            Now, Alberto Benenati and Yves Jadot are pleased to announce the opening of La Maison du Croque
            Monsieur in Greenwich Village, the world’s first eatery dedicated solely to the culinary classic.
            <br/><br/>Petite Abeille founder Jadot is a veteran of the New York restaurant scene; together he and
            Benenati have opened several Petite Abeille locations as well as ¡Vamos!, Raines Law Room and
            Jones Wood Foundry with their partner chef Jason Hicks. Hicks, who earned his Gaelic stripes
            at La Goulue, Aureole, Orsay and Daniel Boulud’s Feast & Fêtes, is overseeing the delicate
            nuances of the sandwich and its many mouthwatering variations at the La Maison du Croque Monsieur.
        </p>
    </div>
    <img class="col-sm-6 col-xs-12" src="{{ asset('bundles/iodefault/images/about.jpg') }}" alt="Croque Mr"/>
</div>
{% endblock content %}
