{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body body-trouver
{% endblock body_class %}

{% block content %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
    function initialize() {
        var LatLng = new google.maps.LatLng(48.867629, 2.349540);
        var mapOptions = {
            center: LatLng,
            zoom: 14
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        
        var marker = new google.maps.Marker({
            position: LatLng,
            map: map,
            title: "Numa"
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="contact" class="main container">
    <div id="map-canvas"></div>
    <div class="contact-info">
        <div class="contact-over">
            <span class="contact-trouvez">
                <h2><strong>TROUVEZ<br/>LA MAMA</strong></h2>
                <p>09 RUE DE SAINT MIHIEL<br/>75015 PARIS</p>
            </span>
            <span class="contact-transport">
                <h4 class="ratp metro">M</h3>
                    <p>Passy, Ranelagh, Charles Michels, La Muette, Mirabeau</p>
                    <h5 class="ratp">BUS</h4>
                <p>22, 52, 62, 70, 72</p>
                <h5 class="ratp">RER</h4>
                    <p>Ligne C<br/>Avenue du Président Kennedy<br/>Maison de Radio France</p>
            </span>
            <span class="contact-sonnez">
                <h2><strong>SONNEZ<br/>LA MAMA</strong></h2>
                <p>06.99.45.47.94<br/>.</p>
            </span>
        </div>
    </div>
</div>
{% endblock content %}