{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div id="about" class="container">
    <h3>REJOIGNEZ-NOUS</h3>
    <p>
        Vous voulez rejoindre notre équipe ? Contactez-nous à croquemonsieur@resto.com.
    </p>
</div>
{% endblock content %}
