parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    io_restaurant_name: ~
    io_auth_token:      ~
    io_api_base_url:    ~
    io_fees:
        fixed:          0
        percent:        6

    mango_api_base_url:         ~
    mango_api_client_id:        ~
    mango_api_client_password:  ~
    mango_api_temporary_folder: ~

    mango_restaurant_wallet_id: ~
    mango_restaurant_user_id:   ~

