{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}body1{% endblock body_class %}
{% block content %}
    <div id="home" class="container main">
        <img src="{{ asset("bundles/iodefault/images/logo.png") }}"/>
    </div>
{% endblock content %}
