{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="main container recap">
    <h2>Désolé, {{ restaurantName }} n'accepte pas encore les commandes en ligne</h2>
    <p>N'hésitez pas à demander au propriétaire du restaurant d'activer les commandes depuis notre solution <strong>InnovOrder</strong>.</p>
    <p>Nous vous souhaitons un agréable appetit.</p>
</div>
{% endblock content %}
