{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    <div id="order_step">
        <ul>
            <li>Etape 1 : Mon panier</li>
            <li>Etape 2 : Connexion</li>
            <li class="active">Etape 3 : Paiement</li>
            <li>Etape 4 : Validation</li>
        </ul>
    </div>
</div>
<div class="container">
    <h2>Paiement</h2>
    <div id="PaylineForm"></div>
</div>
{% endblock content %}
