/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 sept. 2014, 12:05:43
    Author     : romain
*/
@font-face{
    font-family:'Rokkitt';
    src:url(../fonts/Rokkitt.otf)
}

body {
    background-color:#dacaba;
    padding-top: 0px;
}

h3{
    border-bottom: 1px solid black;
    font-family: "Arial";
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn {
    border-radius: 0;
    border: 1px black solid;
}
.btn-default {
    background-color: transparent;
    color: black;
}
.btn-default:hover, .btn-default:focus {
    background-color: white;
    color: black;
    border-color: black;
}
.btn-primary {
    background-color: black;
    color: #dacaba;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-primary.disabled {
    color: #888;
    background-color: black;
    border-color: black;
}

a, a:hover, a:focus {
    color: black;
    text-decoration: none;
}
.form-control {
    background-color: #F0E5DA;
    border: none;
    border-radius: 0;
}

/*--------------------------------HEADER*/
.navbar {
    height: 192px;
    background: #dacaba url(../images/header_bg.png);
    background-repeat: repeat-x;
    background-position: top left;
    //background-attachment: scroll;
    border: none;
    font-family:'Rokkitt';
}

.navbar .navbar-header .navbar-brand img {
    height: 110px;
}
.navbar-nav {
    margin-top: 40px;
}
.navbar-nav > li > a {
    padding: 10px;
}

.navbar-default .navbar-nav li a {
    color: black;
    font-family:'Rokkitt';
    font-size: 17px;
    text-transform: uppercase;
}


/*--------------------------HOME*/
#home {
    width: 80%;
    border: 1px solid black;
    padding: 2px;
    top: 0px;
    position: relative;
}
#home img {
    width: 100%;
    height: auto;
}


/*--------------------------ABOUT*/
#about {
    width: 80%;
    color: black;
    font-family:'Rokkitt';
}
#about .col-xs-12{
    display: inline-block;
}
#about img {
    display: inline-block;
}


/*--------------------------CONTACT*/
#contact {
    width: 80%;
    color: black;
    font-family:'Rokkitt';
}
#contact h4{
    margin-bottom: 0;
    text-transform: uppercase;
}
.metro {
    font-size: 17px;
    border-radius: 25px;
    border: 3px solid #000;
    font-family: 'Arial';
    font-weight: bold;
}
.bus {
    font-size: 17px;
    border-right: 3px solid #000;
    border-left: 3px solid #000;
    font-family: 'Arial';
    font-weight: bold;
}
.m3{
    background-color: #795;
    border-color: #795;
    color: white;
}
.m4, .b39{
    background-color: #D0D;
    border-color: #D0D;
    color: white;
}
.m8{
    background-color: #CAC;
    border-color: #CAC;
}
.m9, .b74{
    background-color: #BC3;
    border-color: #BC3;
}
.b20{
    background-color: #F80;
    border-color: #F80;
}
.b48{
    background-color: #05F;
    border-color: #05F;
    color: white;
}
.b67{
    background-color: #F99;
    border-color: #F99;
}
.b85{
    background-color: #860;
    border-color: #860;
    color: white;
}

#map-canvas {
    height: 400px;
    margin: 0px;
    padding: 0px;
}


/*--------------------------MENU*/
#menu {
    color: black;
    font-family:'Rokkitt';
    font-size: 15px;
}
#menu .nav li {
    margin: 1px;
}

.product {
    background-color: transparent;
    border: 1px solid #000;
    padding: 0;
    padding-top: 5px;
}
.product img {
    border-radius: 8px;
}
.product-content {
        margin: 0px 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color:black;
    color: #dacaba;
}

.nav-pills>li>a {
    background-color:transparent;
    color: black;
    border: 1px solid black;   
    border-radius: 0;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: white;
}

.product .btn-add-product{
    border: none;
    border-top: 1px black solid;
}

.modal-content {
    border-radius: 0;
    background-color: #dacaba;
}
.modal-header  {
    border-bottom: 1px solid #000;
}
.modal-footer {
    border-top: 1px solid #000;
}


/*---------------------------TRAITEUR*/
.traiteur-block {
    display: inline-block;
    padding: 10px 25px;
    vertical-align: top;
    min-height: 700px;
}