/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 sept. 2014, 12:05:43
    Author     : romain
*/
@font-face{
    font-family:'Rokkitt';
    src:url(../fonts/Rokkitt.otf)
}

body {
    background-color:#dacaba;
    padding-top: 0px;
}

h3{
    border-bottom: 1px solid black;
    font-family: "Arial";
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn {
    border-radius: 0;
    border: 1px black solid;
}
.btn-default {
    background-color: transparent;
    color: black;
}
.btn-default:hover, .btn-default:focus {
    background-color: white;
    color: black;
    border-color: black;
}
.btn-primary {
    background-color: black;
    color: #dacaba;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-primary.disabled {
    color: #888;
    background-color: black;
    border-color: black;
}

a, a:hover, a:focus {
    color: black;
    text-decoration: none;
}
.form-control {
    background-color: #F0E5DA;
    border: none;
    border-radius: 0;
}

/*--------------------------------HEADER*/
.navbar {
    height: 192px;
    background: #dacaba url(../images/header_bg.png);
    background-repeat: repeat-x;
    background-position: top left;
    //background-attachment: scroll;
    border: none;
    font-family:'Rokkitt';
}
.navbar .navbar-header .navbar-brand {
    float: none;
}
.navbar .navbar-header .navbar-brand img {
    width: 100%;
    max-width: 150px;
    margin-top: 10%;
}
.navbar-nav.down{
    margin-top: 20px;
}
.navbar-nav > li > a {
    padding: 10px;
}

.navbar-default .navbar-nav li a {
    color: black;
    font-family:'Rokkitt';
    font-size: 17px;
    text-transform: uppercase;
}

.navbar .glyphicon {
    font-size: 15px;
}

@media(min-width:1200px){
    .navbar-nav.down{
        margin-top: 58px;
    }
}
@media(min-width:768px){
    .navbar-header {
        display: inline-block;
        width: 20%;
    }
    .navbar-collapse.collapse {
        display: inline-block !important;
        width: 80%;
    }
}
@media(max-width:768px){
    .collapse.in{
        display: inline-block;
    }
    .navbar {
        height: auto;
        min-height: 150px;
    }
    .navbar-collapse {
        border: none;
        box-shadow: none;
    }
    .navbar-collapse {
        float: right;
        width: 50%;
    }
    .navbar .navbar-header .navbar-brand img {
        margin-top: 0;
        width: 50%;
    }
}
@media(max-width:520px){
    .navbar-collapse {
        width: 100%;
    }
    .navbar {
        min-height: 75px;
    }
}


.navbar-nav > li > a {
    padding: 8px;
}


/*--------------------------HOME*/
#home {
    width: 80%;
    border: 1px solid black;
    padding: 2px;
    top: 0px;
    position: relative;
}
#home img {
    width: 99.3%;
    height: auto;
    left: 0;
    top: 0;
    margin: 2px;
    animation-duration: 21s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    -webkit-animation-duration: 21s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

#img-1 {
    position: absolute;
    animation-name: carousel1;
    -webkit-animation-name: carousel1;
}
#img-2 {
    position: absolute;
    opacity: 0;
    animation-name: carousel2;
    -webkit-animation-name: carousel2;
}
#img-3 {
    position: absolute;
    opacity: 0;
    animation-name: carousel3;
    -webkit-animation-name: carousel3;
}
/* Standard syntax */
@keyframes carousel1 {
    0%   {opacity: 1;}
    23%  {opacity: 1;}
    33%  {opacity: 0;}
    89%  {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes carousel2 {
    0%   {opacity: 0;}
    23%  {opacity: 0;}
    33%  {opacity: 1;}
    56%  {opacity: 1;}
    66%  {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes carousel3 {
    0%   {opacity: 0;}
    56%  {opacity: 0;}
    66%  {opacity: 1;}
    89%  {opacity: 1;}
    100% {opacity: 0;}
}
/* Webkit syntax */
@-webkit-keyframes carousel1 {
    0%   {opacity: 1;}
    23%  {opacity: 1;}
    33%  {opacity: 0;}
    89%  {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes carousel2 {
    0%   {opacity: 0;}
    23%  {opacity: 0;}
    33%  {opacity: 1;}
    56%  {opacity: 1;}
    66%  {opacity: 0;}
    100% {opacity: 0;}
}
@-webkit-keyframes carousel3 {
    0%   {opacity: 0;}
    56%  {opacity: 0;}
    66%  {opacity: 1;}
    89%  {opacity: 1;}
    100% {opacity: 0;}
}

/*--------------------------ABOUT*/
#about {
    width: 80%;
    color: black;
    font-family:'Rokkitt';
}
#about .col-xs-12{
    display: inline-block;
}
#about img {
    display: inline-block;
}


/*--------------------------CONTACT*/
#contact {
    width: 80%;
    color: black;
    font-family:'Rokkitt';
}
#contact h4{
    margin-bottom: 0;
    text-transform: uppercase;
}
.metro {
    font-size: 17px;
    border-radius: 25px;
    border: 3px solid #000;
    font-family: 'Arial';
    font-weight: bold;
}
.bus {
    font-size: 17px;
    border-right: 3px solid #000;
    border-left: 3px solid #000;
    font-family: 'Arial';
    font-weight: bold;
}
.m3{
    background-color: #795;
    border-color: #795;
    color: white;
}
.m4, .b39{
    background-color: #D0D;
    border-color: #D0D;
    color: white;
}
.m8{
    background-color: #CAC;
    border-color: #CAC;
}
.m9, .b74{
    background-color: #BC3;
    border-color: #BC3;
}
.b20{
    background-color: #F80;
    border-color: #F80;
}
.b48{
    background-color: #05F;
    border-color: #05F;
    color: white;
}
.b67{
    background-color: #F99;
    border-color: #F99;
}
.b85{
    background-color: #860;
    border-color: #860;
    color: white;
}

#map-canvas {
    height: 400px;
    margin: 0px;
    padding: 0px;
}


/*--------------------------MENU*/
#menu {
    color: black;
    font-family:'Rokkitt';
    font-size: 15px;
}
#menu .nav li {
    margin: 1px;
}

.product {
    background-color: transparent;
    border: 1px solid #000;
    padding: 0;
    padding-top: 5px;
}
.product img {
    border-radius: 8px;
}
.product-content {
    margin: 0px 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color:black;
    color: #dacaba;
}

.nav-pills>li>a {
    background-color:transparent;
    color: black;
    border: 1px solid black;   
    border-radius: 0;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: white;
}

.product .btn-add-product{
    border: none;
    border-top: 1px black solid;
}

.modal-content {
    border-radius: 0;
    background-color: #dacaba;
}
.modal-header  {
    border-bottom: 1px solid #000;
}
.modal-footer {
    border-top: 1px solid #000;
}
.media {
    border-bottom: 1px black solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*---------------------------TRAITEUR*/
.traiteur-block {
    display: inline-block;
    padding: 0px 25px;
    vertical-align: top;
    min-height: 700px;
}
.traiteur-block img {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-top: 0;
}


/*----------------------------FOOTER*/
.footer {
    font-family:'Rokkitt';
    background-color: #1a1a1a;
    color: #999;
}
.footer h5 {
    color: #CCC;
    text-transform: uppercase;
    border-bottom: 1px #777 dotted;
}
.footer a, .footer a:hover, .footer a:focus {
    color: #999;
    text-decoration: underline;
}

.footer img {
    width: 100%;
    height: auto;
}

.footer .foot {
    text-align: center;
    border-top: 1px #777 dotted;
    text-transform: uppercase;
}

.icone {
    color: transparent;
    background-position: 0px -24px;
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 6px;
}
.icone:hover, .icone:focus {
    background-position: 0px 0px;
    color: transparent;
}
.facebook {
    background-image: url(../images/cmr-facebook.jpg);
}
.twitter {
    background-image: url(../images/cmr-twitter.jpg);
}