/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 sept. 2014, 15:10:01
    Author     : Romain, Louis
*/

/*CHARGEMENT DES POLICES*/

@font-face {
    font-family: '28_Days_Later';
    src: url(../fonts/28_Days_Later.ttf);
}
@font-face {
    font-family: 'Aller_Bd';
    src: url(../fonts/Aller_Bd.ttf);
}

@font-face {
    font-family: 'Aller_Bdlt';
    src: url(../fonts/Aller_Bdlt.ttf);
}

@font-face {
    font-family: 'Aller_lt';
    src: url(../fonts/Aller_lt.ttf);
}

@font-face {
    font-family: 'Aller_Lt';
    src: url(../fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: 'Aller_Ltlt';
    src: url(../fonts/Aller_LTlt.ttf);
}

@font-face {
    font-family: 'Aller_Rg';
    src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
    font-family: 'AllerDisplay';
    src: url(../fonts/AllerDisplay.ttf);
}

@font-face {
    font-family: 'Juergen';
    src: url(../fonts/Juergen.ttf);
} 

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
}


@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
}

html,
body {
    height: 100%;
}

.form-control {
    background-color: #FDA;
    border: none;
}

/*------------------HEADER*/
.navbar {
    background: none;
    border: none;;
}

.navbar-container {
    background: url('../images/header-bg.jpg') repeat bottom;
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.8);
}

.navbar .navbar-header {
    margin: 0 0px;
}

.navbar .navbar-header .brand {
    display: inline-block;
    color: #560705;
    font-weight: bolder;
    //margin-top: -10px;
    //margin-bottom: -10px;
}

.navbar .navbar-header .brand img{
    height: auto;
    width: 164px;
}
.navbar .scotch {
    position: absolute;
    top: 0px;
    left: 50%;
}

.navbar .navbar-collapse {
    margin: 30px 0 0px 170px;
    padding: 0;
}

.navbar .navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(80, 40, 20, 0.2);
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.navbar .navbar-nav > li {
    width: 16.6%;
}

.navbar .navbar-nav > li > a {
    font-size: 1.1em;
    font-family: "Aller_Bd";
    font-weight: 700;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    text-align: center;
    padding: 10px 10px;
}
.navbar .navbar-nav > li > a > strong {
    display: block;
    text-transform: uppercase;
}
.navbar .navbar-nav > li > a strong{
    font-weight: 600;
}

.navbar .navbar-nav > li.active > a {
    color: #fff;
    background: none;
}
.navbar .navbar-nav > li.active > a:hover {
    background: none;
    color: #560705;
}
.navbar .navbar-nav > li > a:hover {
    color: #560705;
}

.nav .navbar span {
    color: #732;
    font-size: 14px;
}

#scotch-titre-header {
    position: absolute;
    height: 50px;
    width: auto;
    top: 0px;
}
#xs-title{
    font-family: "28_Days_Later";
    margin-left: 27px;
    font-size: 24px;
    position: absolute;
    top: 8px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #742;
}
.navbar-default .navbar-toggle {
    border-color: #742;
}

@media(max-width: 991px) {
    .navbar .navbar-header {
        margin: 0px;
    }
    .navbar .navbar-collapse {
        //margin: 20px 0 0px 150px;
    }
    .navbar .navbar-nav > li > a {
        font-size: 1.0em;
        font-weight: 300;
    }
}

@media(max-width: 767px) {
    .navbar .navbar-header .brand {
        margin-top: 10px;
        font-size: 1.3em;
    }
    .navbar .navbar-container, .navbar .navbar-collapse {
        padding: 0;
        margin: 0;
    }
    .navbar .navbar-nav {
        background: rgba(0, 0, 0, 0.8);
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .navbar .navbar-collapse {
        padding: 0;
    }
    .navbar .navbar-nav>li {
        width: 100%;
    }
    .navbar .navbar-nav > li > a {
        color: #ccc;
    }
}


/*-------------------------CAROUSEL*/
.carousel, .carousel-inner{
    height: 100%;
}
.carousel-control {
    height: 70%;
}


/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel .carousel-caption {
    top: 30%;
}
.carousel .carousel-indicators {
    bottom: 20px;
}
.carousel .carousel-separator {
    background: url(../images/separation.png) no-repeat center;
    height: 18px;
}

@media (max-width:480px) {
    .carousel .carousel-caption {
        top: auto;
        bottom: -350px;
    }

    .carousel .carousel-caption .btn {
        font-size: 1em;
    }

    .carousel .carousel-indicators {
        bottom: 10px;
    }

    #site-footer {
        margin: 0;
    }
}

.carousel .btn-primary {
    background: rgba(0, 0, 0, 0.7);
    border:solid #fff 2px;
    border-radius:2px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 12px;

}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
}

@media (min-width:480px) {
    .carousel .btn-primary {
        width: 380px;
    }
}
.carousel-info{
    padding-left: 20%;
    padding-right: 20%;
}
.carousel-control.left, .carousel-control.right{
    background: none;
}

/*-----------------BACKGROUNDS*/
body{
    width: 100%;
    height: 100%;
    background-position: center top;
    background: fixed;
    background-color: #ba8;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.body1 {
    background: url(../images/home_slide1.jpg) center top no-repeat fixed #ba8;
}

.body2 {
    background-image: url(../images/home_slide2.jpg);
}

.body3 {
    background-image: url(../images/bg-kidnap.jpg);
}

.body-responsable {
    background: url(../images/bg_rice.jpg) fixed #ba8;
}
.body-trouver {
    background: url(../images/bg-trouver-mama.jpg) fixed #ba8;
}
.body-traiteur {
    background: url(../images/bg-traiteur.jpg) fixed #ba8;
}

.body-recap {
    background: url(../images/bg-panier.jpg) fixed #ba8;
}
.body-menu {
    background: url(../images/bg_rice.jpg) fixed #ba8;
}

/*-----------------RESPONSABLE*/
#responsable .container {
    margin-left: 40px;
    margin-right: 40px;
}
.article
{
    position: relative;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 48%;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}
@media (max-width:768px){
    .article {
        display: block;
        width: 100%;
    }
}
.article-vignette
{
    width: 100%;
    height: auto;
    //max-height: 300px;
    padding:  8px 44px;
}
.article-vignette img
{
    width: 100%;
    height: auto;
}
.article-vignette object, .article-vignette iframe
{
    width: 100%;
    max-height: 300px;
    //padding-top: 8px;
}
@media (max-width:768px){
    .article-vignette, .article-vignette img, .article-vignette object, .article-vignette iframe{
        border-radius: 8px;
        padding: 0px;
    }
}
.article .toggle-link {
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-weight: 600;

}
.article .toggle-link:hover, .article .toggle-link:focus {
    color: white;
}
.article-text {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}


/*----------------CONTACT*/
.contact-page{
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    color: white;
    text-align: center;
}

.contact-map{
    height: 45%;
    width: 100%;
}

.contact-info{
}
.contact-info strong{
    font-family: '28_Days_Later';
    font-size: 30px;
    font-weight: 600;
}
.contact-over{
    background: rgba(0, 0, 0, 0.7);
    //height: 100%;
}
.contact-trouvez{
    display: inline-block;
    width: 30%;
    padding-left: 0px;
}
.contact-transport{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact-sonnez{
    display: inline-block;
    width: 30%;
    padding-right: 0px;
}

@media (max-width:480px){
    .contact-trouvez{
        width: 100%;
    }
    .contact-transport{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact-sonnez{
        width: 100%;
    }
}

.ratp{
    border: 2px solid white;
    width: 26px;
    height: 26px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 13px;
    margin-left: 45%;
    padding-top: 5px;
}
.ratp p{
    font-weight: 100;
    font-size: 12px;
}
.metro{
    font-size: 17px;
    padding-top: 1px;
}


/*-----------------TRAITEUR*/
.traiteur-page{
    width: 85%;
    margin: auto;
    color: black;
}
.traiteur-page strong{
    font-family: '28_Days_Later';
    font-weight: normal;
    font-size: 24px;
}

.traiteur-info{
    background: url('../images/carton-clair.jpg') center;
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.6);
    display: inline-block;
    width: 47%;
    border-radius: 8px;
    padding: 10px 25px;
    vertical-align: top;
    min-height: 700px;
}
.traiteur-form{
    background: url('../images/carton-clair.jpg') center;
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.6);
    display:inline-block;
    width: 47%;
    border-radius: 8px;
    padding: 10px 25px;
    vertical-align: top;
    margin-left: 5%;
    min-height: 700px;
}
@media (max-width:480px) {
    .traiteur-page {
        width: 100%;
    }
    .traiteur-info{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .traiteur-form{
        display: block;
        width: 100%;
        margin-left: 0;
    }
}

.inline-block{
    display: inline-block;
}

#scotch-kidnap-1 {
    position: relative;
    left: -103px;
    top: -250px;
    -ms-transform: rotate(271deg); /* IE 9 */
    -webkit-transform: rotate(271deg); /* Chrome, Safari, Opera */
    transform: rotate(271deg);
    width: auto;
    height: 40px;
}
#scotch-kidnap-2 {
    position: absolute;
    left: 38.6%;
    top: 180px;
    -ms-transform: rotate(32deg); /* IE 9 */
    -webkit-transform: rotate(32deg); /* Chrome, Safari, Opera */
    transform: rotate(32deg);
    width: auto;
    height: 34px;
}
#scotch-kidnap-3 {
    position: relative;
    left: -110px;
    top: -300px;
    -ms-transform: rotate(88deg); /* IE 9 */
    -webkit-transform: rotate(88deg); /* Chrome, Safari, Opera */
    transform: rotate(88deg);
    width: auto;
    height: 42px;
}


/*----------------------FOOTER*/
#site-footer {
    margin-top: 20px;
    z-index: 200;
    //position: relative;
    vertical-align: bottom;
    color: black;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
#site-footer .container{
    box-shadow: 0px -2px 15px 4px rgba(0,0,0,0.8);
    vertical-align: bottom;
}
#site-footer .text{
    padding-top: 19px;
}

.social-network {
    background: url('../images/scotch2.png') no-repeat;
    background-position: center;
    margin-top: 16px;
    padding: 1px;
    //box-shadow: 0px 11px 15px -16px;
}
.social-network .scotch {
    position: absolute;
    top: 25px;
    left: 20px;
}
.logo{
    background: url(../images/Logos.png) no-repeat scroll 0px transparent;
    width: 45px;
    height: 45px;
    z-index: 5;
    display: inline-block;
    margin: 5px;
}
.facebook {
    background-position: 0px 0px;
}
.facebook:hover {
    background-position: 0px -45px;
}
.twitter {
    background-position: -45px 0px;
}
.twitter:hover {
    background-position: -45px -45px;
}
.tripadvisor {
    background-position: -91px 0px;
}
.tripadvisor:hover {
    background-position: -91px -45px;
}
.pinterest {
    background-position: -136px 0px;
}
.pinterest:hover {
    background-position: -136px -45px;
}

.city {
    height: auto;
    width: 189px;
}

#site-footer .container{
    background: url('../images/footer-bg.jpg') repeat-x top;
    vertical-align: middle;
}


/*----------------------MENU*/
#menu {
    border: none;
}
#menu h3 {
    font-family: '28_Days_Later';
    text-transform: uppercase;
    text-align: left;
    color: white;
    font-size: 35px;
    margin-left: 20px;
}

#menu .category p {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

#menu .product-content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}
#menu .product-content p {
    color: #666;
    font-weight: 600;
    font-size: 13px;
    min-height: 80px;
}
#menu .product {
    padding: 0;
    margin-left: 1%;
    margin-bottom: 12px;
    background-color: rgba(0,0,0,0);
}

#menu .product img{
    width: 100%;
    height: auto;
}

#menu .nav-pills > li.active > a, #menu .nav-pills > li.active > a:hover {
    background-color: #222;
    color: #fff;
}
#menu a:hover, #menu a:focus, #menu a:active {
    color: #000;
    text-decoration: none;
    background-color: #DDD;
}
#menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

#menu .col {
    padding: 4px;
    min-height: 340px;
}
.product .btn-add-product {
    display: block;
    border-radius: 0px;
    border: 0;
    background-color: rgba(27, 27, 27, 0.7);
    font-weight: 700;
    font-size: 17px;
}

@media(max-width: 480px) {
    .product{
        display: block;
    }
}

/*----------------------CART*/
#cart {
    padding: 40px 15px 40px 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
#cart h3 {
    font-weight: 700;
    margin-bottom: 20px;
}
#cart .section {
    border-top: 1px solid #fff;
}
#cart .nb-products {
    color: #999999;
}
#cart .btn {
    border-radius: 0px;
    border: 0;
    background-color: rgba(27, 27, 27, 0.7);
    font-weight: 700;
    font-size: 17px;
}
#cart .total {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#cart a {
    color: #fff;
}


/*----------------------RECAP*/
#recap-panel {
    margin: 25px;
    max-width: 890px;
    min-height: 75px;
    margin: auto;
    position: relative;
    top: -20px;
    z-index: -1;
    background: url('../images/header-bg.jpg') bottom center;
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.6);
}
@media(max-width: 890px) {
    #recap-panel {
        margin: auto;
    }
}
#order_step {
    padding: 17px;
    color: #563405;
    font-weight: 700;
    font-family: "Aller_Bd";
}
#order_step .active {
    color: #2E0805;
}
#order_step strong {
    text-transform: uppercase;
    font-weight: 700;
}

.recap {
    width: 75%;
    min-width: 675px;
    margin: auto;
    background: url('../images/carton-clair.jpg');
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.6);
    border-radius: 8px;
    color: black;
    font-family: "Aller_Bd";
    /*padding-bottom: 40px;*/
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 30px;
}
@media(max-width: 675px) {
    .recap {
        width: 100%;
        min-width: 100%;
    }
}

.recap h2, .auth h2 {
    font-family: '28_Days_Later';
    font-size: 35px;
    margin-left: 20px;
}

.recap .product-list .row-header {
    border-bottom: 1px solid #000;
}

#totalttc {
    font-weight: bold;
    border-top: 1px solid #000;
    text-transform: uppercase;
}

.recap .btn-primary, .recap .btn-primary:active,
.auth .btn-primary, .auth .btn-primary:active{
    color: #2E0805;
    background-color: rgba(0,0,0,0);
    border: none;
}
.recap .btn-default, .recap .btn-default:active,
.auth .btn-default, .auth .btn-default:active{
    color: #563405;
    background-color: rgba(0,0,0,0);
    border: none
}
.recap .product-list div {
    padding: 1px 5px;
}

.recap .btn, .auth .btn {
    background: url('../images/scotch2.png') no-repeat;
    border: 0px none;
    border-radius: 0px;
    font-family: "28_Days_Later";
    text-transform: uppercase;
    min-height: 64px;
    min-width: 274px;
    font-size: 21px;
    float: right;
}

.recap a, .recap a:hover, .recap a:focus,
.auth a, .auth a:hover, .auth a:focus{
    color: #563405;
}

#scotch-recap-1 {
    position: relative;
    left: -125px;
    top: -130px;
    -ms-transform: rotate(271deg); /* IE 9 */
    -webkit-transform: rotate(271deg); /* Chrome, Safari, Opera */
    transform: rotate(271deg);
    width: auto;
    height: 40px;
}
#scotch-recap-2 {
    position: relative;
    left: 96%;
    top: -72px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    width: auto;
    height: 40px;
}

/*---------------------OPTIONS*/
.modal-dialog {
    color: #fff;
}
.modal-content {
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-dialog .btn-primary, .modal-dialog .btn-primary:active {
    color: #000;
    background-color: #fff;
    border: none;
}
.modal-dialog .btn-default, .modal-dialog .btn-default:active {
    color: #333;
    background-color: #BBB;
    border: none;
}


/*----------------------AUTH PAYMENT RECEIPT*/
.auth {
    background: url('../images/carton-clair.jpg');
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.6);
    border-radius: 8px;
    color: black;
    font-family: "Aller_Bd";
    /*padding-bottom: 40px;*/
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 30px;
}
@media(max-width: 675px) {
    .auth {
        width: 100%;
        min-width: 100%;
    }
    .full-ms{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.receipt {
    text-align: center;
}

#scotch-payment {
    position: absolute;
    left: 323px;
    top: 236px;
    -ms-transform: rotate(366deg); /* IE 9 */
    -webkit-transform: rotate(366deg); /* Chrome, Safari, Opera */
    transform: rotate(366deg);
    width: auto;
    height: 42px;
}

#payment .btn {
    float: left;
}

/*----------------------MISC*/
#map-canvas {
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#mentions {
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 85%;
    margin: auto;
    padding: 20px 10px;
    min-height: 600px;
}
.mentions-link {
    color: black;
}
.mentions-link:hover {
    color: black;
    text-decoration: none;
}

#error {
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 85%;
    margin: auto;
    padding: 20px 10px;
    min-height: 200px;
    margin-bottom: 250px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: rgba(0,0,0,0.1);
}
.navbar-nav > li > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu > li > a {
    color: #000;
    font-weight: bold;
}

#profile{
    background: url('../images/carton-clair.jpg') center;
    box-shadow: 0 2px 15px 4px rgba(0,0,0,0.6);
    border-radius: 8px;
    padding: 10px 25px;
}