/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 sept. 2014, 15:10:01
    Author     : Romain
*/

/*CHARGEMENT DES POLICES*/

@font-face {
    font-family: '28_Days_Later';
    src: url(../fonts/28_Days_Later.ttf);
}
@font-face {
    font-family: 'Aller_Bd';
    src: url(../fonts/Aller_Bd.ttf);
}

@font-face {
    font-family: 'Aller_Bdlt';
    src: url(../fonts/Aller_Bdlt.ttf);
}

@font-face {
    font-family: 'Aller_lt';
    src: url(../fonts/Aller_lt.ttf);
}

@font-face {
    font-family: 'Aller_Lt';
    src: url(../fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: 'Aller_Ltlt';
    src: url(../fonts/Aller_LTlt.ttf);
}

@font-face {
    font-family: 'Aller_Rg';
    src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
    font-family: 'AllerDisplay';
    src: url(../fonts/AllerDisplay.ttf);
}

@font-face {
    font-family: 'Juergen';
    src: url(../fonts/Juergen.ttf);
} 

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
}


@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
}

/*HEADER*/

html,
body {
    height: 100%;
}

#site-header {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: none;
    border: none;
}

#site-footer {
    margin-top: -102px;
    z-index: 200;
    position: relative;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.carousel .carousel-caption {
    top: 30%;
}

.carousel .carousel-indicators {
    bottom: 105px;
}

.carousel .carousel-separator {
    background: url(../images/separation.png) no-repeat center;
    height: 18px;
}

@media (max-width:480px) {
    .carousel .carousel-caption {
        top: auto;
    }

    .carousel .carousel-caption .btn {
        font-size: 1em;
    }

    .carousel .carousel-indicators {
        bottom: 10px;
    }

    #site-footer {
        margin: 0;
    }
}

.carousel .btn-primary {
    background: rgba(0, 0, 0, 0.7);
    border:solid rgba(225, 225, 225, 0.8) 3px;
    border-radius:2px;
    width: 100%;
    margin: 0;
    padding: 10px;

}



.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
}

@media (min-width:480px) {
    .carousel .btn-primary {
        width: 380px;
        padding: 20px;
    }
}

@media (min-width:768px) {
    #site-header .container {
        background:none;
    }
}

#site-header .container {
    background: url('../images/header-bg.jpg') repeat-x top;
    box-shadow: 0px 2px 15px 4px rgba(0, 0, 0, 0.8);
    width: 85%;
}

#site-header .brand {
    display: inline-block;
    vertical-align: middle;
}
#site-header .brand img {
    width: 150px;
    height: 150px;
    padding: 8px;
    display: inline-block;
    vertical-align: middle;
}
#site-header .scotch {
    position: absolute;
    left: 50%;
    z-index: 20;
}

#site-header .header-btns{
    display: inline-block;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;

#site-header .navbar-nav{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;
    //padding-left: 10px;
}

}
#site-header .header-links {
    background: white;
}

@media (min-width:768px) {
    #site-header .header-links {
        background: rgba(80, 40, 20, 0.2);
        border-radius: 10px;
        box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.7);
        margin: 40px 0px 40px 150px;
        height: 70px !important;
        padding: 0;
    }



    #site-header .navbar-nav>li { 
        text-align: center;
        width:16%;
    }
}

#site-header .navbar-nav>li { 
    font-family: "Aller_Bd";
    font-size: 12px;
    font-weight: 300;
}

#site-header .navbar-nav>li>a>strong { 
    text-transform: uppercase;
    display: block;
}

#site-header .navbar-nav>li>a {
    color: #000000;
    padding: 3px 3px;
    text-align: center;
}

#site-header .navbar-nav>li>a:hover {
    color: white;
}

.navbar-nav>.active>a {
    color: white !important;
    background: none !important;
}
.navbar-nav>.active>a:focus {
    color: white;
    background: none;
}
/*Body Styles: backgrounds*/
body{
    width: 100%;
    height: 100%;
    background-position: center;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.body1 {
    background-image: url(../images/home_slide1.jpg);
}

.body2 {
    background-image: url(../images/home_slide2.jpg);
}

.body3 {
    background-image: url(../images/home_slide3.jpg);
}

.body-mama {
    background-image: url(../images/bg_rice.jpg);
}

.article-liste
{
    margin-top: 175px;
    margin-bottom: 130px;
}

.article
{
    position: relative;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 85%;
    margin: auto;
}

.article-vignette
{
    width: 100%;
    height: auto;
    padding:  8px;
}

.article-vignette img
{
    width: 100%;
    height: auto;
}

.article-btn
{
    position: absolute;
    left: 40%;
    top: 100px;//tmp
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid white;
    border-radius: 0px;
    color: white;
    text-align: center;
    z-index: 2;
    display: none;
}
.article-btn:hover
{
    color: white;
}
.article-btn:focus
{
    color: white;
}

.article-text
{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

/*.overlay{
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: all 0.5s;
    
    //bottom: 0;
    //left: 0;
    //right: 0;
    //width: 100%;
    //height: 0;
}

a.expand{
    display: block;
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
    border: solid 5px white;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 30px;
    
    //left: 0;
    //right: 0;
    //bottom: 50%;
    //margin: 0 auto -30px auto;
}

.article-vignette.hover .overlay
{
    height: 100%;
}*/

