/* 
    Created on : Sep 5, 2014, 11:00:37 AM
    Author     : vincent
*/
html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}
.main {
    padding-bottom: 240px !important;
}

.footer {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.error {
    color: #ff0000;
}

/*
 * MENU
 */

#menu h3 {
    text-transform: uppercase;
    text-align: left;
    color: #000000;
}

#menu .description {
    color: #000000;
}

.product {
    float: left;
    width: 100%;
    padding: 5px;
    margin: 1px 1px 0 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
}

.product strong {
    text-transform: uppercase;
}

.product em {
    float: right;
}

.product p {
    margin-top: 10px;
    height: 60px;
}

.product img {
    display: block;
    width: auto;
    margin: auto;
}

.product .btn {
    text-transform: uppercase;
}

.product .btn-add-product {
    display: block;
}

.choice label em {
    font-size: 0.8em;
}

@media (min-width:480px){
    .product {
        width: 49%;
    }

    .product img {
        height: 150px;
    }
}

@media (min-width:768px){
    .product {
        width: 33%;
    }

    .product img {
        height: 150px;
    }
}

/*
 * Cart
 */
@media(min-width: 992px) {
    #cart {
        border-left: 1px solid black;
    }
}
#cart {
    padding: 40px 5px 40px 20px;
    font-size: 0.9em;
}

#cart h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

#cart .section {
    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #000;
    text-align: left;
}

#cart .section-first {
    border-top: none;
}

#cart .section .info {
    text-align: center;
    display: block;
    font-style: italic;
}

#cart .product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cart .product-list li {
    clear: both;
}

#cart .product-list .count {
    display: inline-block;
}

#cart .product-list .count a {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 12px;
    text-align: center;
}


#cart .product-list strong {
    display: inline-block;
    font-weight: normal;
}
#cart .product-list em {
    position: relative;
    display: block;
    float: right;
}

#cart .product-list .extra {
    display: block; 
    font-style: italic; 
    font-size: 0.9em;
    margin: -5px 0 0 45px;
}


#cart .section em {
    float: right;
    font-style: normal;
}

#cart .nb-products {
    color: #666;
}

#cart .total {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 50px;
}

#cart .btn {
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
}

#cart .order-datetime, #cart .order-postcode {
    width: 100px;
}

/*
 * STEPS
 */
#order_step {
}

#order_step ul {
    list-style: none;
    padding: 0;
}

#order_step ul > li {
    display: inline-block;
    margin: 10px 0;
}

#order_step ul > li.active {
    font-weight: bold;
}

#order_step ul > li+li:before {
    padding: 0 5px;
    color: #888;
    content: ">\00a0";
}

/*
 * Recap
 */
.recap .radio-inline {
    margin-right: 30px;
}
.recap .form-group-sm {
    display: inline-block;
}
.recap .product-list .row-header {
    font-weight: bold;
}
.recap .product-list div {
    padding: 5px;
}
.recap .product-list img {
    height: 64px;
    width: auto;
}
.recap .product-list strong {
    display: block;
}

.recap .product-list .right {
    display: block;
    text-align: right;
}
.recap .product-list .total {
    font-weight: bold;
    font-size: 1.1em;
}

/* Login form */
.login-form .btn, .register-form .btn {
    float: right;
}

/* Profile form */
.profile-form .form-phone label,
.profile-form .form-address-street label,
.profile-form .form-address-city label {
    display: block;
}
.profile-form .form-phone-prefix,
.profile-form .form-address-street-number,
.profile-form .form-address-city-postcode {
    width: 30%;
    float: left;
}
.profile-form .form-phone-number,
.profile-form .form-address-street-street,
.profile-form .form-address-city-city {
    width: 70%;
}

/* Receipt */
.receipt {
    margin: 20px 5px;
    border: 1px solid #000;
    padding: 20px 5px;
    width: 380px;
}
.receipt strong {
    display: block;
    font-size: 1.2em;
    text-align: center;
}
.receipt em {
    display: block;
    text-align: center;
}
.receipt > ul {
    margin-top: 20px;
    list-style: none;
    padding: 5px;
}
.receipt li {
    clear: both;
    margin-top: 3px;
}
.receipt li.total {
    border-top: 1px solid black;
    width: 350px;
}
.receipt li span {
    display: inline-block;
    width: 300px;
    float: left;
}
.receipt li em {
    display: inline-block;
}