/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 sept. 2014, 15:10:01
    Author     : Vincent, Romain, Louis
*/


/** BODY **/
body{
    width: 100%;
    height: 100%;
    background-position: center top;
    background: fixed;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/** HEADER **/
.navbar {
    background: none;
    border: none;
    margin-top: 10px;
}

.navbar .navbar-nav > li > a {
    text-align: center;
}

.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    border: none;
}

@media(min-width: 768px) {
    .navbar .navbar-header .brand img {
        height: 70px;
        width: auto;
    }
    
    .navbar .navbar-header .brand span {
        display: none;
    }
    
    .navbar .navbar-collapse {
        margin: 30px 0 0px 170px;
    }

    .navbar .navbar-nav > li > a {
        padding: 0;
        margin: 10px;
        font-weight: bold;
        font-size: 1.1em;
    }
}

@media(max-width: 768px) {
    .navbar .navbar-header .brand {
        font-size: 1.3em;
        text-transform: uppercase;
    }
    
    .navbar .navbar-header .brand {
        display: block;
        margin: 10px 20px;
    }
        
    .navbar .navbar-header .brand img {
        display: none;
    }

}


/** FOOTER **/
#site-footer .row{
    padding: 10px;
}
#site-footer div div{
    text-align: center;
}
#site-footer a, #site-footer a:hover, #site-footer a:focus {
    text-decoration: none;
}

.logo:hover, .logo:focus, .logo:active {
    text-decoration: none;
}
.logo img {
    background: url(../images/logos-social.png);
    width: 32px;
    height: 32px;
    background-position: 0px 32px;
}
.facebook img:hover{
    background-position: 0px 0px;
}
.twitter img{
    background-position: 224px 32px;
}
.twitter img:hover{
    background-position: 224px 0px;
}
.google img{
    background-position: 192px 32px;
}
.google img:hover{
    background-position: 192px 0px;
}
.pinterest img{
    background-position: 160px 32px;
}
.pinterest img:hover{
    background-position: 160px 0px;
}
.youtube img{
    background-position: 96px 32px;
}
.youtube img:hover{
    background-position: 96px 0px;
}
.tripadvisor img{
    background-position: 128px 32px;
}
.tripadvisor img:hover{
    background-position: 128px 0px;
}
.tumblr img{
    background-position: 64px 32px;
}
.tumblr img:hover{
    background-position: 64px 0px;
}
.instagram img{
    background-position: 32px 32px;
}
.instagram img:hover{
    background-position: 32px 0px;
}


/** HOME **/
#home {
    width: 60%;
    min-width: 420px;
}
@media (max-width: 420px) {
    #home {
        width: 100%;
        min-width:100%;
    }
}
#home img {
    width: 100%;
}


/** CONTACT */
#map-canvas {
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
@media (min-width: 768px) {
    #map-canvas {
        width: 75%;
    }
    .contact-info {
        width: 25%;
        display: inline-block;
        float: right;
        padding-left: 10px;
    }
}


/** MENU **/
#menu-nav > li {
    width: 100%;
}
#menu-nav > li > a {
    padding: 5px;
    border-radius: 0;
    font-weight: bold;
}
@media (min-width: 992px){
    #menu-nav > li > a {
        padding-left: 34px;
    }
}
#menu-nav {
    padding-left: 0;
}

#menu h3 {
    margin-top: 0px;
}

/** Product **/
#menu .col {
    padding-left: 5px;
    padding-right: 5px;
}
.product {
    box-shadow: black 3px 3px 6px;
}

.product img {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/** CART **/
#cart {
    padding: 0px 0px 40px 15px;
}
#cart h3 {
    padding: 20px 5px 30px 5px;
    margin-bottom: 0;
    margin-top: 0;
}
#cart .empty-cart {
    position: relative;
    top: -20px;
    left: 10px;
}
#cart .section {
    padding: 0px 10px;
    border: none;
}
#cart .section .info {
    text-align: left;
}
#cart .section-form {
    margin-top: -10px;
}
#cart .nb-products {
    color: #999;
}
#cart .total {
    padding-bottom: 42px;
    margin: 8px 0;
}

#cart .section-form div {
    padding: 0 5px;
}
#cart .product-list .count a:hover,
#cart .product-list .count a:active,
#cart .product-list .count a:focus {
    text-decoration: none;
}

/*----------------------RECAP*/


/*---------------------OPTIONS*/


/*----------------------AUTH PAYMENT RECEIPT*/


/*-----------------------BTNS*/
.btn {
    border: none;
    border-radius: 0;
    font-weight: bold;
}


.form-control {
    background-color: white;
}