{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>Mama Responsable</h1>
        {% for article in articles %}
    <div class="article">
    <p>
        {#<a href="{{path(}}"/>"#}
        {{article.title}} posté le {{article.date|date('d/m/Y')}}
    </p>
    </div>
    {%else%}
    <li>Pas encore d'article.</li>
    {%endfor%}
</div>
{% endblock content %}
