{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    {% for article in articles %}
    <div class="article">
        <img class="article-vignette" src="{{ asset(article.img) }}"/>
        <h5><strong class="article-text">{{ article.title }}</strong></h5>
        <p><span class="article-text">{{ article.short }}</span></p>
    </div>
    {%endfor%}
</div>
{% endblock content %}