<div id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-sn">
                <div class="social-network">
                    <a href="http://www.facebook.com">
                        <img src="{{ asset("bundles/iodefault/images/facebook.png") }}" />
                        <img src="<?php echo get_bloginfo('template_directory'); ?>/images/facebook.png" alt="facebook" />
                        <img src="<?php echo get_bloginfo('template_directory'); ?>/images/facebook.png" alt="facebook" />
                        <img src="<?php echo get_bloginfo('template_directory'); ?>/images/facebook.png" alt="facebook" />
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" id="restaurant_address" >
                <p>ADRESSE DU RESTAURANT</p>
                <p>06 99 45 47 94</p>
            </div>
            <div class="col-md-2 col-sm-6"><p>MENTIONS LEGALES <br>PLAN DU SITE </p></div>
            <div class="col-md-2 col-sm-6"><img src="404" alt="logo" /></div>
            <div class="col-md-2 col-sm-6"> &copy; MAMA STREET 2014</div>
        </div>
    </div>
</div>