<div class="footer">
    <div class="container">
        <div class="col-sm-4 col-xs-12">
            <h5>Contactez-nous</h5>
            <p>Téléphone: 21.26.75.22.27<br/>
                Email: info@croquemr.com</p>
        </div>
        <div class="col-sm-4 hidden-xs">
            <h5>Réseaux sociaux</h5>
            <p>LOGOS fb, twitter</p>
        </div>
        <div class="col-sm-4 hidden-xs">
            <h5>Au menu</h5>
            <img src="{{ asset('bundles/iodefault/images/footer_slide.jpg') }}"/>
        </div>
        <div class="foot col-xs-12">
            <h4>LA MAISON DU CROQUE MONSIEUR &copy; InnOvorder</h4>
        </div>
    </div>
</div>