{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div id="home" class="main container">
    <div>
        <img src="{{ asset('bundles/iodefault/images/home.png') }}" alt="Croque Mr"/>
        <img id="img-1" src="{{ asset('bundles/iodefault/images/home1.jpg') }}" alt="Croque Mr"/>
        <img id="img-2" src="{{ asset('bundles/iodefault/images/home2.jpg') }}" alt="Croque Mr"/>
        <img id="img-3" src="{{ asset('bundles/iodefault/images/home3.jpg') }}" alt="Croque Mr"/>
    </div>
</div>
{% endblock content %}