{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div id="home" class="container">
    <img src="{{ asset('bundles/iodefault/images/home.jpg') }}" alt="Croque Mr"/>
</div>
{% endblock content %}