{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body
{% endblock body_class %}

{% block content %}
<div id="mentions" class="main container">
    <h2>Conditions générales de ventes</h2>
</div>
{% endblock content %}