{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body body-traiteur
{% endblock body_class %}

{% block content %}
<div id="mentions" class="container">
    <h2>Mentions légales</h2>
    in /home/romain/dev-mamastreet/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 104
    <br/>at FileLoader->import('@IODefaultBundle/Controller/', 'annotation', false, '/home/romain/dev-mamastreet/app/config/routing.yml') in /home/romain/dev-mamastreet/vendor/symfony/symfony/src/Symfony/Component/Routing/Loader/YamlFileLoader.php line 155
    <br/>at YamlFileLoader->parseImport(object(RouteCollection), array('resource' => '@IODefaultBundle/Controller/', 'type' => 'annotation', 'prefix' => '/'), '/home/romain/dev-mamastreet/app/config/routing.yml', '/home/romain/dev-mamastreet/app/config/routing.yml') in /home/romain/dev-mamastreet/vendor/symfony/symfony/src/Symfony/Component/Routing/Loader/YamlFileLoader.php line 91
    <br/>at YamlFileLoader->load('/home/romain/dev-mamastreet/app/config/routing.yml', null) in /home/romain/dev-mamastreet/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 90
    <br/>at FileLoader->import('routing.yml', null, false, '/home/romain/dev-mamastreet/app/config/routing_dev.yml') in /home/romain/dev-mamastreet/vendor/symfony/symfony/src/Symfony/Component/Routing/Loader/YamlFileLoader.php line 155
    <br/>at YamlFileLoader->parseImport(object(RouteCollection), array('resource' => 'routing.yml'), '/home/romain/dev-mamastreet/app/config/routing_dev.yml', '/home/romain/dev-mamastreet/app/config/routing_dev.yml') in /home/romain/dev-mamastreet/vendor/symfony/symfony/src/Symfony/Component/Routing/Loader/YamlFileLoader.php line 91
</div>
{% endblock content %}